<ion-header>
  <style>
   .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition:none;
  width: 85%;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
     #a {
      font-size: 80%;
      
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #5F5F5F;
    }
    #s{color:blue}
    
    #i1{height:250px;}
    .p-image {
      font-size: 145%;
  position: absolute;
  top: 365px;
  right: 30px;
  color:rgb(78, 78, 78);
  border-radius: 50% solid rgb(0, 0, 0);
}
.p-image:hover {
  font-size: 130%;
  color:rgb(0, 0, 0);
}

#bru{
  border-radius: 50%; border-style:solid; border-width: 3px 3px 3px 3px; padding:0 3%; cursor:pointer; margin:0px;
background-color:white;

}
#h{top:10px;
}

  </style>
</ion-header>
   

<ion-content>
  <div id="h">
    
 <ion-icon style="font-size: 190%; float:left;" color="dark" (click)="toItem()" name="arrow-back"></ion-icon>
    <h1  style="padding-left:39%;">Profile</h1></div>

  <div class="card">
   <div><img src="http://cdn.onlinewebfonts.com/svg/img_191958.png" id="ir" alt="Avatar" style="width:100%"></div>  
   <div class="p-image">
       <ion-icon name="brush" id="bru"(click)="up2()"></ion-icon>
  </div>
    
    <div class="container">
      <h3><b id="u"></b></h3> 
      <h5><b id="f"></b>{{s}}<b id="l"></b></h5> 
      <p id="e"></p>
        </div>
  </div>
  <div style="margin-top: 26%;" text-center>
  <ion-button expand="block" (click)="delete()" color="danger">delete account</ion-button></div>
  
</ion-content>
